body {
    background-color:gray ;
}

ul {
    list-style-type: none;
    height:200px;
    width: 200px;
}



#o {
    color: #000;
 }

 .ji {
      color: aquamarine;
 }

 a:visited{
    color:red;
 }

 a:hover{
    color:darkorange;
 }

 #red{
    padding: 9px 5px 9px 5px;
    border: 15px double rebeccapurple;
    margin: 6px;
 }

.A{
    padding: 4px 9px 4px 9px;
    border: 15px solid rgb(29, 169, 19);
    margin: auto;
    width: 50%;
}
